* {
  margin: 0;
  padding: 0;
  font-family: "Mada", Arial;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.hero {
  background-image: linear-gradient(to bottom right, rgba(16, 24, 30, 0.6), rgba(51, 161, 21, 0.6), rgba(255, 174, 19, 0.6)), url(../img/rectangle.png), url(../img/rectangle2.png), url(../img/bg_hero.png);
  background-size: cover;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 4.2em;
  font-family: "Homenaje";
  font-weight: 400;
}

.hero .hero__title--white {
  color: #fff;
}

.hero .hero__title--black {
  color: #2d2d2d;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.navbar ul {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}

.navbar ul .navbar__logo {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.navbar ul img {
  height: 30px;
  width: auto;
}

.navbar ul .navbar__border {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Mada";
  font-weight: 300;
  font-size: 1.3em !important;
  padding-left: 50px;
  padding-right: 50px;
}
