$homenaje: "Homenaje";
$mada: "Mada";

$fontweight300: 300;
$fontweight400: 400;

$fontsize-title-huge: 4.2em;
$fontsize-title: 3.5em;
$fontsize-navbar: 1.3em;
$fontsize-paragraph: 1.3em;
$fontsize-small-paragraph: 0.8em;

$green: #62c017;
$black: #2d2d2d;
$white: #fff;