$homenaje: "Homenaje";
$mada: "Mada";

$fontweight300: 300;
$fontweight400: 400;

$fontsize-title: 3.65em;
$fontsize-paragraph: 1.0em;
$fontsize-small-paragraph: 0.8em;

$green: #62c017;
$black: #2d2d2d;
$white: #fff;